/*begin styling*/
@import url('https://fonts.googleapis.com/css?family=Lustria|Open+Sans|Libre+Caslon+Text&display=swap');

html {
	background-color: rgb(250, 250, 245);
	box-sizing: border-box;
}

h2 {
	font-size: 2rem;
	font-family: 'Lustria', serif;
	font-weight: bolder;
}

.entry-text {
	font-family: 'Lustria', serif;
	font-size: 1.5rem;
	line-height: 1.5;
	border: 0px;
	background-color: rgb(250, 250, 245);
	height: 750px;
}

.App {
	color: rgb(50, 50, 50);
	background-color: rgb(250, 250, 245);
}

.App-header {
	font-family: 'Open Sans', sans-serif;
	display: flex;
	justify-content: flex-end;
	align-items: center;
	padding: 1.0rem;
	margin: 1.0rem;
	min-height: 7rem;
	padding: 0.75rem;
	background-color: powderblue;
}

.App-body {
	display: flex;
	justify-content: space-evenly;
	align-items: flex-start;
}

.controls-text {
	font-family: 'Open Sans', sans-serif;
	font-size: 2.5rem;
	font-weight: bold;
	margin-left: 1rem;
	margin-right: 1rem;
}

.controls {
	background-color: rgb(255, 255, 255);
	display: flex;
	justify-content: space-between;
	align-items: center;
	padding: 0.5rem;
	margin: 1rem;
	height: 4rem;
}

.entry {
	width: 62%;
}

.tools {
	width: 38%;
}

.page {
	display: flex;
	flex-direction: column;
	margin: 2.5rem;
}

.entry-date {
	font-family: 'Libre Caslon Text', serif;
	height: 3rem;
	font-size: 2rem;
	color: rgb(50, 50, 50);
	background-color: rgb(250, 250, 245);
	border: 0px;
	margin-bottom: 1rem;
}

.invalid {
	color: rgb(145, 45, 45);
}

.username-password {
	display: flex;
	align-items: center;
}

.input {
	font-family: 'Open Sans', sans-serif;
	font-size: 1.25rem;
	padding: 0.5rem;
	margin: 0.5rem;
	border: 0px;
	width: 18rem;
}

.login-signin-logout-text {
	font-family: 'Open Sans', sans-serif;
	font-size: 2rem;
	padding: 0.5rem;
	margin: 0.5rem;
}


.login-signin-logout-button {
	font-family: 'Open Sans', sans-serif;
	font-size: 1.25rem;
	padding: 0.5rem;
	margin: 0.5rem;
	border: 0px;
	background-color: rgb(250, 250, 245);
	width: 8rem;
}